Détail de l'activité:
<table border='1'>
	<tr>
		<td>Id</td><td data-text="activity.id"></td>
	</tr>
	<tr>
		<td>Type</td><td data-text="activity.type"></td>
	</tr>
	<tr>
		<td>Départ</td><td data-text="activity.start"></td>
	</tr>
	<tr>
		<td>Arrivée</td><td data-text="activity.end"></td>
	</tr>
	<tr>
		<td>Durée (minutes)</td><td data-text="activity.totalTimeInMinutes"></td>
	</tr>
	<tr>
		<td>Nombre de points</td><td data-text="activity:getTrackPoints  < activity.trackpoints"></td>
	</tr>
	<tr>
		<td>Distance totale (en metres)</td><td data-text="activity.totalDistance"></td>
	</tr>
	<tr>
		<td>Vitesse moyenne (km/h)</td><td data-text="activity.averageSpeed"></td>
	</tr>
</table>

couleurs du graphe : <br/>
rouge : moins de 8.28 km/h <br/>
orange : entre 8.28 km/h et 9 km/h<br/>
jaune : entre 9 km/h et 9.72 km/h<br/>
vert : supp à 9.72 km/h<br/>
<a id="graphs">Voir les graphs</a>
